/* src/index.css ou src/App.css */
html, body, #root {
  height: 100%; /* Assure que les éléments racine prennent toute la hauteur */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Empêche le body de scroller, le scroll sera géré par <main> */
}

/* Optionnel: Style pour la barre de scroll dans le menu de la sidebar */
.sidebar-menu-scrollable::-webkit-scrollbar {
  width: 6px;
}
.sidebar-menu-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.sidebar-menu-scrollable {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Pour Firefox */
}


.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  
  .mr-auto {
    margin-right: auto !important;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    margin-bottom: 80px;
  }